{% extends 'layout.twig' %}

{% block title %} Accueil {{user}} {% endblock %}


{% block body %}
{% if user == 1 or user == 2 %}
<br>
<h1>Bonjour {{prenom}} ! Que voulez vous consulter ?</h1>

         <div class="container-flex">
         <div class="card">
            <img src="http://bloomly-static.local/assets/offres.png.png" alt="Illustration offres" class="img-acc-off">
            <a class="liens-accueil" href="?page=choix_section&section=offres&connect=oui&user={{user}}">Vos offres</a>
            <h2>Consulter vos offres et apporter des modifications</h2>
        </div>
         <div class="card">
            <img src="http://bloomly-static.local/assets/ent.png.png" alt="Illustration ent" class="img-acc-ent">
            <a class="liens-accueil" href="?page=choix_section&section=entreprises&connect=oui&user={{user}}">Vos entreprises</a>
            <h2>Consulter vos entreprises et apporter des modifications</h2>
        </div>
        </div>
{% elseif user == 3 %}
<br>
<h1>Bonjour {{prenom}} ! Que voulez vous consulter ?</h1>

         <div class="container-flex">
         <div class="card">
            <img src="http://bloomly-static.local/assets/offres.png.png" alt="Illustration offres" class="img-acc-off">
            <a class="liens-accueil" href="?page=choix_section&section=offres&connect=oui&user={{user}}">Nos offres</a>
            <h2>Consulter nos offres et postuler</h2>
        </div>
         <div class="card">
            <img src="http://bloomly-static.local/assets/ent.png.png" alt="Illustration ent" class="img-acc-ent">
            <a class="liens-accueil" href="?page=choix_section&section=entreprises&connect=oui&user={{user}}">Nos entreprises</a>
            <h2>Consulter nos entreprises</h2>
        </div>
        </div>
{% endif %}
{% endblock %}