{% extends 'layout.twig' %}
{% block title %}Ajout {{section}}{% endblock %}


{% block body %}

{% if section == 'entreprises' %}
        <div class="body_ecart">
        <h2>Ajouter une entreprise !</h2><br>
        <p> Entrez les informations, nous vous confirmerons l'ajout de l'entreprise par email.</p>

        <form method="post" action="index.php?page=ValidationAjout_ent&section=entreprises&connect=oui&user={{user}}">
            <div class="ajout-formulaire"> <!-- Pour mettre les bloc à côté de l'image -->


                        <label for ="nom">Nom de l'entreprise</label>
                        <input type = "text" name="nom" required>

                   
                        <label for="description">Description</label>
                        <textarea name="description" rows="4" required></textarea>

                        <h2>Informations de contact</h2><br>
                   
                        <label for="email_contact">Email</label>
                        <input type = "email" name="email_contact">
                    
                  
                        <label for="telephone_contact">Numéro de téléphone</label>
                        <input type = "text" name="telephone_contact">

                        <label for="adresse">Siège social</label>
                        <input type = "text" name="adresse"> 


                </div>
                <button type="submit" name = "form_action" value="ajj_ent">Ajouter</button>
                </form>
                </div>
                

{% elseif section == 'offres' %}
        <div class="body_ecart">
        <h2>Ajouter une offre !</h2><br>
        <p> Entrez les informations, nous vous confirmerons l'ajout de l'entreprise par email.</p>

        <form method="post" action="index.php?page=ValidationAjout_off&section=offres&connect=oui&user={{user}}">
            <div class="ajout-formulaire"> <!-- Pour mettre les bloc à côté de l'image -->


                        <label for ="titre">Titre de l'offre</label>
                        <input type = "text" name="titre" required>

                   <!--
                        <label for="nom">Nom de l'entreprise</label>
                        <input type = "text" name="nom" required>

                        <label for="description">Présentation de l'entreprise</label>
                        <textarea name="description" rows="4" required></textarea>  -->

                        <h2>Description</h2><br>
                        <label for="description"></label>
                        <textarea name="description" rows="4" required></textarea>
                    
                        <h2>Profil recherché</h2><br>
                        <label for="formation">Formation</label>
                        <input type = "text" name="formation" required>

                        <label for="softskills">Savoir</label>
                        <input type = "text" name="softskills" required>

                        <label for="competence">Compétences</label>
                        <input type = "text" name="competence" required>

                        <h2>Modalités et informations clés</h2><br>                       
                        <label for="date_debut">Date de début</label>
                        <input type = "date" name="date_debut" required>   

                        <label for="duree">Durée</label>
                        <input type = "text" name="duree" required>   

                        <label for="lieu">Lieu</label>
                        <input type = "text" name="lieu" required>   

                        <label for="salaire">Rémunération</label>
                        <input type = "text" name="salaire" required>     

                        <label for="date_pub">Date</label>
                        <input type = "date" name="date_pub" required>

                        <label for="ent">Choisissez une entreprise :</label>
                        <select id="ent" name="ent">
                                <option value="">Sélectionnez une entreprise</option>
                                {% for ent in liste_ent %}
                                        <option value="{{ ent.id_entreprise }}">{{ ent.nom }}</option>
                                {% endfor %}
                        </select>
                        
                </div>
                <button type="submit" class="ajout" name = "form_action" value="ajj_off">Ajouter</button>
                </form>
                </div>
                
{% endif %}

{% endblock %}