{% extends 'layout.twig' %}

{% block title %}Description{% endblock %}


{% block body %}

    <div class="haut-offre">
        <h1 class="titre">{{titre}}</h1>
        <div class="actions">
            <a class="bouton" href="?page=choix_section&section={{section}}">Retour</a>
            <a class="bouton" href="">Modifier</a>
            <a class="bouton" href="#">Supprimer</a>
            <a class="bouton" href="?page=candidature&section={{section}}&user={{user}}&connect=oui">Postuler</a>
        </div>
    </div>
    
    <div class="container-flex">
        <div class="cadre">
            <h1 class="titre">Description</h1>
            <h2 class="sous-titre">{{description}}</h2>
            <p>jsp</p>
        </div>
    </div>

    <div class="categ">
        <hr color=#c06c84 size="2" width="95%" >
        <h1 class="titre">Description</h1>
        <p>Au sein de l’équipe de sécurité opérationnelle et sous la responsabilité du Responsable de la Sécurité des Systèmes d'Information (RSSI), vous participerez activement à la protection de nos actifs numériques.
        Vos principales tâches :
            <ul>
                <li>{{description}}</li>
            </ul>
        </p>
    </div>


    <div class="categ">
        <hr color=#c06c84 size="2" width="95%" >
        <h1 class="titre">Profil recherché</h1>
        <h4 >Formation : </h4>
        <p>{{formation}}</p>
    <br>
        <h4>Savoir-être :</h4>
        <p>{{softskills}}</p>
    <br>
        <h4>Compétences :</h4>
        <p>{{competence}}</p>
    </div>  

    <div class="categ">
        <hr color=#c06c84 size="2" width="95%" >
        <h1 class="titre">Modalités et informations clés</h1>
        <h4>Date de début :</h4>
        <p>{{date_debut}}</p>
    <br>
        <h4>Durée :</h4>
        <p>{{duree}}</p>
    <br>
        <h4>Lieu :</h4>
        <p>{{lieu}}</p>
    <br>
        <h4>Rémunération :</h4>
        <p>{{salaire}}</p>
    <br>
        <h4>Date de publication :</h4>
        <p>{{date_pub}}</p>
    </div>

{% endblock %}