{% extends 'layout.twig' %}

{% block title %}Description{% endblock %}


{% block body %}

{% if section == 'offres' %}
<div class="haut-offre">
    {% if connect == 'oui'%}
        {% if user == 3 %}
        <h1 class='titre' >{{titre}}</h1>
        <br>
        <div class="actions">

            <a class="bouton" href="?page=choix_section&section={{section}}&connect=oui&user={{user}}">Retour</a>
        {% elseif user == 1 or 2 %}
        <h1 class='titre' >{{titre}}</h1>
        <br>
        <div class="actions">

            <a class="acc2" href="?page=choix_section&section={{section}}&connect=oui&user={{user}}">Retour</a>
            <a class="acc2" href="?page=modifier_offre&section={{section}}&user={{user}}&connect=oui&id_offre={{id_offre}}&nom={{titre}}">Modifier</a>
            <form method="post" action="index.php?page=SupprimerOff&section=offres&user={{user}}&connect=oui&id_offre={{id_offre}}&titre={{titre}}&section=offres">
                <button class="acc2" type="submit">Supprimer</button>
            </form>
        </div>
        {% endif %}
    </div>
    

    {% elseif connect == '' %}
        <h1 class='titre' >{{titre}}</h1>
        <br>
        <div class="actions">
            <a class="bouton" href="index.php?page=search&type=offre&connect={{connect}}&user={{user}}">Retour</a>
        </div>
    </div>
    {% endif %} 
    </div>  

    <div class="container2-flex">
        <div class="cadre">
            <h1 class="titre">Description</h1>
            <h2 class="sous-titre">{{description}}</h2>
        </div>
    </div>

    <div class="categ">
        <hr color=#c06c84 size="2" width="95%" >
        <h1 class="titre">Profil recherché</h1>
        <h4 >Formation : </h4>
        <p>{{formation}}</p>
    <br>
        <h4>Savoir-être :</h4>
        <p>{{softskills}}</p>
    <br>
        <h4>Compétences :</h4>
        <p>{{competence}}</p>
    </div>  

    <div class="categ">
        <hr color=#c06c84 size="2" width="95%" >
        <h1 class="titre">Modalités et informations clés</h1>
        <h4>Date de début :</h4>
        <p>{{date_debut}}</p>
    <br>
        <h4>Durée :</h4>
        <p>{{duree}}</p>
    <br>
        <h4>Lieu :</h4>
        <p>{{lieu}}</p>
    <br>
        <h4>Rémunération :</h4>
        <p>{{salaire}}</p>
    <br>
        <h4>Date de publication :</h4>
        <p>{{date_pub}}</p>
    </div>

{% elseif section == 'entreprises' %}

<div class="haut-offre">
    {% if connect == 'oui'%}
         {% if user == 3 %}
        <h1 class="titre">{{nom}}</h1>
        <br>
        <div class="actions">

            <a class="bouton" href="?page=choix_section&section={{section}}&connect=oui&user={{user}}">Retour</a>
        
         {% elseif user == 1 or 2 %}
        <h1 class="titre">{{nom}}</h1>
        <br>
        <div class="actions">

            <a class="acc2" href="?page=choix_section&section={{section}}&connect=oui&user={{user}}">Retour</a>
            <a class="acc2" href="?page=modifier_entreprise&section={{section}}&user={{user}}&connect=oui&id_entreprise={{id_entreprise}}&nom={{nom}}">Modifier</a>
            <form method="post" action="index.php?page=SupprimerEnt&section=entreprises&user={{user}}&connect=oui&id_entreprise={{id_entreprise}}&nom={{nom}}">
                <input type="hidden" name="id_entreprise" value="{{ id_entreprise }}">
                <input type="hidden" name="nom" value="{{ nom }}">

                <button class="acc2" type="submit">Supprimer</button>
            </form>
            <a class="acc2" href="?page=candidature&section={{section}}&user={{user}}&connect=oui&id_nom={{id_entreprise}}&nom={{nom}}">Evaluer</a>
        </div>
        {% endif %}
        </div>
    
    
    
    {% elseif connect == '' %}
        <h1 class='titre' >{{titre}}</h1>
        <br>
        <div class="actions">
            <a class="bouton" href="index.php?page=search&type=entreprise&connect={{connect}}&user={{user}}">Retour</a>
        </div>
    </div>
    {% endif %}  
    </div>
    <div class="container-flex">
        <div class="cadre">
            <h1 class="titre">Description</h1>
            <h2 class="sous-titre">{{description}}</h2>
            <p>jsp</p>
        </div>
    </div>

    <div class="categ">
        <hr color=#c06c84 size="2" width="95%" >
        <h1 class="titre">Contacts</h1>
        <h4 >Adresse mail : </h4>
        <p>{{email}}</p>
    <br>
        <h4 >Numéro de téléphone : </h4>
        <p>{{telephone}}</p>
    <br>
    </div>

    <div class="categ">
        <hr color=#c06c84 size="2" width="95%" >
        <h1 class="titre">Où sommes nous ?</h1>
        <h4 >Siège social : </h4>
        <p>{{adresse}}</p>
    <br>
    </div>

{% endif %}
{% endblock %}
