{% extends 'layout.twig' %}
{% block title %}inscription{% endblock %}


{% block body %}

{#{% if section == 'etudiants' or section == 'pilots' %} #}
    <div class="form-box">
        <h2>Créer un compte !</h2><br>
        <p> Entrez les informations, nous vous confirmerons la création du compte par email.</p>

        {% if section == 'etudiants' %}
        <form method="POST" enctype="multipart/form-data" action="index.php?page=ValidationAjout_etudiant&section={{section}}&connect=oui&user={{user}}" onsubmit="return champsVide(this);">
       
        {% elseif section == 'pilots' %}
        <form method="POST" enctype="multipart/form-data" action="index.php?page=ValidationAjout_pilote&section={{section}}&connect=oui&user={{user}}" onsubmit="return champsVide(this);">

        {% elseif section == 'agenda' %}
        <form method="POST" enctype="multipart/form-data" action="index.php?page=AddAgenda&section={{section}}&connect=oui&user={{user}}" onsubmit="return checkForm(this);">

        {% endif %}  

            <div style="display:inline-block;"> <!-- Pour mettre les bloc à côté de l'image -->

                <div class="ligne">

                    <div class="bloc">
                        <label for ="nom">Nom</label>
                        <input type = "text" name="nom" required>
                    </div>

                    <div class="bloc">
                        <label for="prenom">Prénom</label>
                        <input type = "text" name="prenom" required>
                    </div>
                </div>

                <div class="ligne">
                    <div class="bloc2">
                        <label for="email">Adresse email</label>
                        <input type="text" name="email" >
                        <br><br>
                    </div>
                </div>

                <div class="ligne">
                    <div class="bloc2">
                        <label for="mdp">Mot de passe</label>
                        <input type="password" name="mdp" minlength="8" required>
                        <br><br>
                    </div>
                </div>

                <div class="ligne">
                    <div class="bloc">
                        <label class="no-wrap" for="num">Numéro de téléphone</label>
                        <input type = "text" name="num">
                    </div>
                </div>

                <div class="ligne">
                    <div class="bloc2">
                        <label for="civilite">Civilite</label>
                        <input type="text" name="civilite" required>
                        <br><br>
                    </div>
                </div>
                


                

        <button class="btn-dark large">Inscription</button>
        </div>
    </form>
</div>
</div>



{% endblock %}

