 {% extends 'layout.twig' %}

{% block title %}Vos Offres{% endblock %}


{% block body %}

        
    {% if section == 'offres' %}
    <nav class="navbar">
            <a class="active">Vos annonces</a>
        </nav>
         <div class="sous-nav">
         </div>

        <h1 class="police">Consulter vos annonces</h1>
        <p class="police">Retrouvez ici l'ensemble des offres de stage que vous avez publiées.</p>
    <div class="liste">
    {% for item in itemsPage %}
        <div class="bloc-liste">
            <img src="http://bloomly-static.local/assets/annonce.png" alt="Image d'une annonce">
            <p>{{item}} </p>
        </div>
    {% endfor %} 
    <div class="pagination">
        {% if page > 1 %}
            <a href="index.php?page=choix_section&section=offres&p={{ page - 1 }}">Précédent</a>
            {#<a href="index.php?page={{page - 1}}">Précédent</a>#}
        {% else %} 
            <span class="disabled">Précédent</span>
        {% endif %} 


       {% for i in 1..totalPages %}  {# Pour i de 1 à la fin #}
            {% if i == page %}
                <span class="active-page"> {{i}}</span>
            {% else %} 
                <a href="index.php?page=choix_section&section=offres&p={{ i }}"> {{ i }} </a>
                {#<a href="index.php?page={{i}}"> {{i}}</a>#}
            {% endif %}
        {% endfor %}

        {% if page < totalPages %}
            <a href="index.php?page=choix_section&section=offres&p={{ page + 1 }}">Suivant</a>
            {#<a href="index.php?page={{page + 1}}">Suivant</a>#}
        {% else %}
            <span class="disabled">Suivant</span>
        {% endif %}
    </div>  
    </div>
    <a class="acc" href="index.php?page=validationConnexion&connect=1">Retour à l'accueil</a>
    {% elseif section == 'entreprises' %}
    <nav class="navbar">
            <a class="active">Vos entreprises</a>
        </nav>
        <div class="sous-nav"></div>

        <h1 class="police">Consulter vos entreprises</h1>
        <p class="police">Retrouvez ici l'ensemble des entreprises que vous avez publiées.</p>
    <div class="liste">
    {% for item in itemsPage %}
        <div class="bloc-liste">
            <img src="http://bloomly-static.local/assets/annonce.png" alt="Image d'une annonce">
            <p>{{item}} </p>
        </div>
    {% endfor %}
    <div class="pagination">
        {% if page > 1 %}
            <a href="index.php?page=choix_section&section=entreprises&p={{ page - 1 }}">Précédent</a>
            {#<a href="index.php?page={{page - 1}}">Précédent</a>#}
        {% else %} 
            <span class="disabled">Précédent</span>
        {% endif %} 


       {% for i in 1..totalPages %}  {# Pour i de 1 à la fin #}
            {% if i == page %}
                <span class="active-page"> {{i}}</span>
            {% else %} 
                <a href="index.php?page=choix_section&section=entreprises&p={{ i }}"> {{ i }} </a>
                {#<a href="index.php?page={{i}}"> {{i}}</a>#}
            {% endif %}
        {% endfor %}

        {% if page < totalPages %}
            <a href="index.php?page=choix_section&section=entreprises&p={{ page + 1 }}">Suivant</a>
            {#<a href="index.php?page={{page + 1}}">Suivant</a>#}
        {% else %}
            <span class="disabled">Suivant</span>
        {% endif %}
    </div>
    </div>
    <a class="acc" href="index.php?page=validationConnexion&connect=1">Retour à l'accueil</a>
    {% elseif section == 'etudiants' %}
    <nav class="navbar">
            <a class="active">Vos annonces</a>
        </nav>
         <div class="sous-nav">
         </div>

        <h1 class="police">Consulter vos annonces</h1>
        <p class="police">Retrouvez ici l'ensemble des offres de stage que vous avez publiées.</p>
    <div class="liste">
    {% for item in itemsPage %}
        <div class="bloc-liste">
            <img src="http://bloomly-static.local/assets/annonce.png" alt="Image d'une annonce">
            <p>{{item}} </p>
        </div>
    {% endfor %} 
    <div class="pagination">
        {% if page > 1 %}
            <a href="index.php?page=choix_section&section=offres&p={{ page - 1 }}">Précédent</a>
            {#<a href="index.php?page={{page - 1}}">Précédent</a>#}
        {% else %} 
            <span class="disabled">Précédent</span>
        {% endif %} 


       {% for i in 1..totalPages %}  {# Pour i de 1 à la fin #}
            {% if i == page %}
                <span class="active-page"> {{i}}</span>
            {% else %} 
                <a href="index.php?page=choix_section&section=offres&p={{ i }}"> {{ i }} </a>
                {#<a href="index.php?page={{i}}"> {{i}}</a>#}
            {% endif %}
        {% endfor %}

        {% if page < totalPages %}
            <a href="index.php?page=choix_section&section=offres&p={{ page + 1 }}">Suivant</a>
            {#<a href="index.php?page={{page + 1}}">Suivant</a>#}
        {% else %}
            <span class="disabled">Suivant</span>
        {% endif %}
    </div>  
    </div>
    <a class="acc" href="index.php?page=validationConnexion&connect=1">Retour à l'accueil</a>

    {# SECTION ETUDIANTS #}
    {% elseif section == 'etudiants' %}
    <nav class="navbar">
            <a class="active">Vos Etudiants</a>
        </nav>
        <div class="sous-nav"></div>

        <h1 class="police">Consulter vos étudiants</h1>
        <p class="police">Retrouvez ici l'ensemble des profils étudiants que vous avez créés.</p>
    <div class="liste">
    {% for item in itemsPage %}
        <div class="bloc-liste">
            <img src="http://bloomly-static.local/assets/profil.png" alt="Image d'un profil">
            <p>{{item}} </p>
        </div>
    {% endfor %}
    <div class="pagination">
        {% if page > 1 %}
            <a href="index.php?page=choix_section&section=etudiants&p={{ page - 1 }}">Précédent</a>
            {#<a href="index.php?page={{page - 1}}">Précédent</a>#}
        {% else %} 
            <span class="disabled">Précédent</span>
        {% endif %} 


       {% for i in 1..totalPages %}  {# Pour i de 1 à la fin #}
            {% if i == page %}
                <span class="active-page"> {{i}}</span>
            {% else %} 
                <a href="index.php?page=choix_section&section=etudiants&p={{ i }}"> {{ i }} </a>
                {#<a href="index.php?page={{i}}"> {{i}}</a>#}
            {% endif %}
        {% endfor %}

        {% if page < totalPages %}
            <a href="index.php?page=choix_section&section=etudiants&p={{ page + 1 }}">Suivant</a>
            {#<a href="index.php?page={{page + 1}}">Suivant</a>#}
        {% else %}
            <span class="disabled">Suivant</span>
        {% endif %}
    </div>
    </div>
    <a class="acc" href="index.php?page=validationConnexion&connect=1">Retour à l'accueil</a>
    {% endif %}


{% endblock %}
   