{% extends 'layout.twig' %}
 
{% block title %}Modifications informations utilisateurs{% endblock %}
 
 
{% block body %}


{% elseif section == 'etudiants' %}
<form method="post" action="index.php?page=ValidationModif_etu&section=etudiants&connect=oui&user={{user}}"> 
            <input type="hidden" name="id_utilisateur" value="{{id_utilisateur}}">

            <div style="display:inline-block; vertical-align:top;"> <!-- Pour mettre les bloc à côté de l'image -->
                <div class="ligne">
                    <div class="bloc">
                        <h3>Civilité</h3>
                        <input type="text" name="civilite" value="{{civilite}}">
                    </div>

                    <div class="bloc">
                        <h3 class="no-wrap">Nom</h3>
                        <input type="text" name="nom" value="{{nom}}">

                        <h3 class="no-wrap">Prénom</h3>
                        <input type="text" name="prenom" value="{{prenom}}">
                    </div>
                </div>

                <div class="ligne">
                    <div class="bloc">
                        <h3 class="no-wrap">Numéro de téléphone</h3>
                        <input type="text" name="num" value="{{telephone}}">
                    </div>
                    <div class="bloc">
                        <h3 class="no-wrap">Adresse mail</h3>
                        <input type="email" name="email" value="{{email}}">
                    </div>
                </div>

                <div class="ligne">
                    <div class="bloc">
                        <h3 class="no-wrap">Votre identifiant</h3>
                        <p class="no-wrap">{{ identifiant }}</p>
                    </div>
                </div>

                <input type="hidden" name="mdp" value="{{mot_de_passe}}">
                <input type="hidden" name="id_role" value="{{id_role}}">
                <input type="hidden" name="id_createur" value="{{id_createur}}">

                <button type="submit">Enregistrer</button>

{% elseif section == 'pilots' %}
<form method="post" action="index.php?page=ValidationModif_pil&section=pilots&connect=oui&user={{user}}"> 
            <input type="hidden" name="id_utilisateur" value="{{id_utilisateur}}">

            <div style="display:inline-block; vertical-align:top;"> <!-- Pour mettre les bloc à côté de l'image -->
                <div class="ligne">
                    <div class="bloc">
                        <h3>Civilité</h3>
                        <input type="text" name="civilite" value="{{civilite}}">
                    </div>

                    <div class="bloc">
                        <h3 class="no-wrap">Nom</h3>
                        <input type="text" name="nom" value="{{nom}}">

                        <h3 class="no-wrap">Prénom</h3>
                        <input type="text" name="prenom" value="{{prenom}}">
                    </div>
                </div>

                <div class="ligne">
                    <div class="bloc">
                        <h3 class="no-wrap">Numéro de téléphone</h3>
                        <input type="text" name="num" value="{{telephone}}">
                    </div>
                    <div class="bloc">
                        <h3 class="no-wrap">Adresse mail</h3>
                        <input type="email" name="email" value="{{email}}">
                    </div>
                </div>

                <div class="ligne">
                    <div class="bloc">
                        <h3 class="no-wrap">Votre identifiant</h3>
                        <p class="no-wrap">{{ identifiant }}</p>
                    </div>
                </div>

                <input type="hidden" name="mdp" value="{{mot_de_passe}}">
                <input type="hidden" name="id_role" value="{{id_role}}">
                <input type="hidden" name="id_createur" value="{{id_createur}}">

                <button type="submit">Enregistrer</button>

{% endif %}

            </form>

{% endblock %}